<!DOCTYPE html>

<html 
 	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	data-layout-decorator="fragments/layout/layout-with-sidebar">
	
<head>
	<title data-th-text="#{dashboard.addproduct.title}"></title>
	
	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>

	<script type="text/javascript" src="/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
	<!-- /theme JS files -->
</head>

<body>

	<!-- Page header -->
	<div class="page-header page-header-default" data-layout-fragment="page-header">
		<div class="breadcrumb-line">
			<ul class="breadcrumb">
				<li><a data-th-href="@{/accueil}"><i class="icon-home2 position-left"></i> <span data-th-remove="tag" data-th-text="#{dashboard.home}"></span></a></li>
				<li><a data-th-href="@{/produits}"><span data-th-remove="tag" data-th-text="#{dashboard.allproducts.title}"></span></a></li>
				<li><a><span data-th-remove="tag" data-th-text="#{dashboard.addproduct.title}"></span></a></li>
			</ul>
		</div>
	</div>
	<!-- /page header -->


	<!-- Content area -->
	<div class="content">
		<div data-layout-fragment="main-content">
		<!-- Basic alert -->
		<div class="alert alert-danger alert-styled-left"  th:if="${#fields.hasErrors('${productDTO.*}')}">
			<ul>
  				 <li th:each="err : ${#fields.errors('${productDTO.*}')}" th:text="${err}" />
			</ul>
	    </div>
	    <!-- /basic alert -->
		<form data-th-action="@{/produits/nouveau}" method="post" data-th-object="${productDTO}"  class="form-horizontal">
		
			<div class="panel panel-flat">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<fieldset class="content-group">
								<legend class="text-bold text-primary" data-th-text="#{form.products.basic}">Basic</legend>

								<div class="form-group"  th:classappend="${#fields.hasErrors('code')} ? has-warning" >
									<label class="control-label col-lg-3" ><span data-th-remove="tag" data-th-text="#{form.products.code}">Code/Name</span><span class="text-danger">*</span></label>
									<div class="col-lg-9">
										<input type="text" class="form-control" placeholder="" th:field="*{code}" />
				
									</div>
								</div>
		
		
								
								<div class="form-group" th:classappend="${#fields.hasErrors('category')} ? has-warning" >
									<label class="control-label col-lg-3" data-th-text="#{form.products.category}">Category </label>
									<div class="col-lg-9">
										<input class="form-control ui-autocomplete-input" placeholder="" id="ac-basic" autocomplete="off" type="text" th:field="*{category}"/>
									</div>
								</div>
								
								<div class="form-group" th:classappend="${#fields.hasErrors('description')} ? has-warning" >
									<label class="control-label col-lg-3" ><span data-th-remove="tag" data-th-text="#{form.products.description}">Description </span><span class="text-danger">*</span></label>
									<div class="col-lg-9">
										<textarea  class="form-control" placeholder="" rows="4" th:field="*{description}"></textarea>
									</div>
								</div>
								
								<div class="form-group" th:classappend="${#fields.hasErrors('basicUoM')} ? has-warning" >
									<label class="control-label col-lg-3" data-th-text="#{form.products.measureunit}">Measer unite </label>
									<div class="col-lg-9">
										<input class="form-control ui-autocomplete-input" placeholder="" id="ac-basic" autocomplete="off" type="text"  th:field="*{basicUoM}"/>
									</div>
								</div>
								
							</fieldset>
	
						</div>
						<div class="col-md-6">
							<fieldset class="content-group">
								<legend class="text-bold text-primary" data-th-text="#{form.products.pricture}">Picture</legend>
								<div class="form-group">
									<div class="col-lg-9">
										<input type="file" class="file-input" data-show-caption="false" data-show-upload="false"/>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-flat">
				<div class="panel-body">
					<div class="row">
						
						<div class="col-md-6">
							<fieldset class="content-group">
								<legend class="text-bold text-primary" data-th-text="#{form.products.pricing}">Pricing</legend>
								<div class="form-group" th:classappend="${#fields.hasErrors('price')} ? has-warning">
									<label class="control-label col-lg-4" data-th-text="#{form.products.uomprice}">The price of the basic UoM </label>
									<div class="col-lg-8">
										<input type="text" class="form-control" placeholder=""  th:field="*{price}"/>
									</div>
								</div>
							</fieldset>
						</div>
						
						<div class="col-md-6">
							<fieldset class="content-group">
								<legend class="text-bold text-primary" data-th-text="#{form.products.stocking}">Stock level information</legend>
							
								<div class="form-group" th:classappend="${#fields.hasErrors('reorderLevel')} ? has-warning">
									<label class="control-label col-lg-4" data-th-text="#{form.products.currentqts}">Current quantity </label>
									<div class="col-lg-8">
										<input type="text" class="form-control" placeholder="" th:field="*{reorderLevel}"/>
									</div>
								</div>
								
								<div class="form-group" th:classappend="${#fields.hasErrors('cost')} ? has-warning">
									<label class="control-label col-lg-4"><span data-th-remove="tag" data-th-text="#{form.products.cost}"> cost</span><span class="text-danger">*</span></label>
									<div class="col-lg-8">
										<input class="form-control ui-autocomplete-input" placeholder="" id="ac-basic" autocomplete="off" type="text" th:field="*{cost}"/>
									</div>
								</div>
								
								<div class="form-group"  th:classappend="${#fields.hasErrors('reorderLevel')} ? has-warning">
									<label class="control-label col-lg-4" data-th-text="#{form.products.reorderLevel}">Reorder level </label>
									<div class="col-lg-8">
										<input class="form-control ui-autocomplete-input" placeholder="" id="ac-basic" autocomplete="off" type="text" th:field="*{reorderLevel}"/>
									</div>
								</div>
							</fieldset>
						</div>
						
					</div>
				</div>
			</div>
		
			<div class="text-right">
				<button type="submit" class="btn btn-primary"><div data-th-remove="tag" data-th-text="#{form.submit.save}" >Submit</div> <i class="icon-arrow-right14 position-right"></i></button>
			</div>
			
		</form>	
		</div>
	</div>
	<!-- /content area -->


</body>
</html>
